site-footer {
  height: 50px;
  width: 100%;
  background: var(--accent-color);
  color: var(--on-accent);
  border-radius: var(--radius);
}

.site-footer p {
  text-align: center;
  margin: auto;
  padding-top: 12px;
}
