site-footer {
  height: 50px;
  width: 100%;
  background: var(--accent-color);
  color: var(--bg-color);
  border-radius: 1rem;
}

site-footer p {
  text-align: center;
  margin: auto;
  padding-top: 12px;
}
