footer {
  height: 50px;
  width: 100%;
  background: var(--accent-color);
  color: var(--bg-color);
  border-radius: 1rem;
  margin: 0%;
  padding: 0%;
}

footer p {
  text-align: center;
  margin: auto;
  padding-top: 12px;
}
